
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

### Java ###
# Скомпилированный файл класса
*.class

# BlueJ файлы
*.ctxt

# Мобильные инструменты для Java (J2ME)
.mtj.tmp/

# Пакетные файлы #
*.jar
*.war
*.nar
*.ухо
*.zip
*.tar.gz
*.rar

# журналы сбоев виртуальной машины, см. http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid / идентификатор воспроизведения*
